@import "../variables";

.mini-preview-modal {
    color: white;
    opacity: 1;
    position: absolute;
    left: 50vw;
    top: 10vh;
    z-index: 99;
    background-color: $netflix-black;
    box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
    border-radius: 10px;
    overflow: hidden;
    transform: scale(.7);
    transition-property: transform, opacity, margin-top, margin-left;
    transition-duration: .5s;
    transition-delay: 0, .9s, 0;
    cursor: pointer;
    margin-top: -70px;
    margin-left: -60px;

    &.showed {
        margin-top: -120px;
        width: 300px;
        transform: scale(1);
        opacity: 1;
    }

    &__video-image-box {

        img {
            max-width: 100%;
            display: block;
        }
    }

    &__info {
        transition: height .75s;
        padding: 0 20px 25px;

        &__action-buttons {
            margin-top: 15px;
            display: flex;

            &> div {
                margin-right: 5px;
            }

            &__more {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
            }
        }

        &__show-details {
            margin-top: 15px;
            font-size: 16px;

            &> * {
                margin-right: 5px;
            }

            &__like-rating {
                color: #46d369;
                font-weight: bold;
            }

            &__maturity {
                font-size: 16px;
            }

            &__duration {
                color: #bcbcbc;
            }

            &__video-quality {
                display: inline-block;
            }
        }

        &__categories {
            display: flex;
            margin-top: 10px;

            span {

                &:not(:first-child) {
                    margin-left: 10px;

                    &::before {
                        color: #646464;
                        content: "\2022";
                        display: inline-block;
                        padding-right: 0.5vw;
                    }
                }
            }
        }
    }
}